$mainColor: #24243e;
$secondColor: #FFC93E;
$thirdColor: #00b7ff;

body {
    background-color: $mainColor;
    padding: 15px;
    header {
        img {
            height: 128px;
        }
        ul {
            list-style: none;
            li {
                margin: 0 20px;
                transition: 0.5s ease-out;
                &:hover {
                    background-color: $secondColor;
                    color: #000;
                }
            }
        }
    }
}
